<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/style.css">
</head>
<body>
    <h1>salman farsee</h1>
    <p>mern stack</p>
    <% val.forEach(e => { %>
     <h3><%= e %></h3>
    <% }) %>
    <script src="/script/script.js"></script>
</body>
</html>